@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-text: #f9fafb;

  --color-primary: #1d4ed8;
  --color-secondary: #3b82f6;
  --color-accent: #10b981;

  --color-error: #ef4444;
  --color-success: #6b7280;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
