@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Space+Grotesk:wght@300..700&display=swap");

@import "tailwindcss";

@theme {
  --color-background: #1a1a1a;
  --color-surface: #3c3c3c;

  --color-text: #f2f2f2;
  --color-text-muted: #d1d5db;
  --color-text-tertiary: #9ca3af;
  --color-text-disabled: #6b7280;

  --color-primary: #aecbfa;
  --color-secondary: #6ee7b7;
  --color-accent: #ffdac1;

  --color-error: #f87171;
  --color-success: #81c784;

  --font-special: "Space Grotesk", sans-serif;
  --font-display: "Roboto", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
